app-header {
    position: fixed;
    z-index: 10; /* do not leave permanent */
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3em;
    width: 100vw;
    text-align: center;
    color: #FFF;
    background: #F27D0C;
    border-bottom: #3px solid #d60;
}

    app-header h1 {
        margin: 0;
        font-weight: 800;
        font-variant: small-caps;
    }