h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.card {
  border-radius: 0.2em;
  position: relative;
  border: 1px solid #676767;  
}

  .card img {
    padding: 1rem 0 2rem;
  }

.card-section {
  padding: .5rem;
  background: #676767;
  color: #EFEFEF;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  .card-section h3 {
    line-height: 1;
    margin: 0;
    font-size: 0.75rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 0;
    font-size: 0.65rem;
    font-weight: 600;
    line-height: 1;
    text-rendering: optimizeLegibility;
  }


.content-centered {
  text-align: center;
}


/* 900px */
@media only screen and (min-width: 56.25em) {
  
  p {
    font-size: 0.5rem;
    line-height: 1;
  }

  .card-section h3 {
    line-height: 1;
    margin: 0;
    font-size: 0.7rem;
  }  

}









