
<header>
	<p>header</p>
</header>

<!-- <app-navigation></app-navigation> -->

<nav>
	<!-- <img src="assets/images/weo3-logo.png" /> --> <!-- needs to be app logo -->
	<button md-button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
		<md-icon>format_list_numbered</md-icon>
		<div class="caption">standings</div>
	</button>
	<button md-button [routerLink]="['/leaders']" routerLinkActive="active">
		<md-icon>star</md-icon>
		<div class="caption">leaders</div>
	</button>
	<button md-button [routerLink]="['/teams']" routerLinkActive="active">
		<md-icon>group</md-icon>
		<div class="caption">teams</div>
	</button>
	<button md-button [routerLink]="['/players']" routerLinkActive="active">
		<md-icon>format_list_bulleted</md-icon>
		<div class="caption">players</div>
	</button>
</nav>



<router-outlet></router-outlet>

<!-- <button md-icon-button [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">
	<md-icon>format_list_numbered</md-icon>
	<div class="caption">Standings</div>
</button>
<button md-icon-button [routerLink]="['/leaders']" routerLinkActive="active-link">
	<md-icon>star</md-icon>
	<div class="caption">Leaders</div>
</button>
<button md-icon-button [routerLink]="['/teams']" routerLinkActive="active-link">
	<md-icon>group</md-icon>
	<div class="caption">Teams</div>
</button>
<button md-icon-button [routerLink]="['/players']" routerLinkActive="active-link">
	<md-icon>format_list_bulleted</md-icon>
	<div class="caption">Players</div>
</button> -->

