
<header><p>{{ currentTitle }}</p></header>


<nav>
  <!-- <img src="assets/images/weo3-logo.png" /> --> <!-- needs to be app logo -->
  <button md-button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>format_list_numbered</mat-icon>
    <div class="caption">standings</div>
  </button>
  <button md-button [routerLink]="['/leaders']" routerLinkActive="active">
    <mat-icon>star</mat-icon>
    <div class="caption">leaders</div>
  </button>
  <button md-button [routerLink]="['/teams']" routerLinkActive="active">
    <mat-icon>group</mat-icon>
    <div class="caption">teams</div>
  </button>
  <button md-button [routerLink]="['/players']" routerLinkActive="active">
    <mat-icon>format_list_bulleted</mat-icon>
    <div class="caption">players</div>
  </button>
</nav>

<router-outlet></router-outlet>


