.app-content {
    margin: 5em auto 10em;
}

app-navigation {
    display: flex;
    width: 100vw;
    padding: 0;
    position: fixed;    
    bottom: 0;
    z-index: 100;
    background: #FFF;
    color: rgba(0,0,0,0.25);
    border-top: 1px solid #efefef;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    justify-content: space-around;    
}

.md-button-focus-overlay {
    display: none;
}

.content-centered {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.md-button-ripple-round {
    display: none;
    border-radius: 0;
}