<section>

  <div *ngIf="team">
    <h3 class="header-team" *ngFor="let t of team | slice:1:2">{{ t.tname }}</h3>
  </div>

  <div class="tabs-selection">
    <app-tab [active]="isSelected(1)" (click)="setTab(1)">members</app-tab>
    <app-tab [active]="isSelected(2)" (click)="setTab(2)">stats</app-tab>
  </div>

  <div [ngSwitch]="tab">

    <app-tab-content *ngSwitchCase="1">
      <div *ngIf="team" class="row small-up-3 medium-up-4 large-up-5">
        <div class="column" *ngFor="let player of team">
          <div class="card">
            <img src="assets/avatars/avatar-{{player.pid}}.svg">
            <div class="card-section" (click)="showPlayer(player)">
              <h3>{{ player.pname }}</h3>
              <p>{{ player.tpins }}</p>
            </div>
          </div>
        </div>
      </div>
    </app-tab-content>

    <app-tab-content *ngSwitchCase="2">
        << still under development; lots more data to bring in >>
      <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="chartData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [tooltipDisabled]="tooltipDisabled"
            (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </app-tab-content>

  </div>

</section>


<!-- <p>{{ player.pname }}, {{ player.gms}}, {{ player.tpins }}, {{ player.avgs }}, {{ player.hnd }} </p> -->
<!-- "tname":"Guttermouths","pid":33,"pname":"Burke X","tpins":3502,"gms":24,"avgs":146,"hnd":51 -->


