.team-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}


.team-list-item {
    margin: .25rem .5rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    align-items: center;
    background-color: #FFF;
    border: 1px solid rgba(242,125,12,.5);
    width: calc(50% - 1rem);
}

.team-list-item img {
    width: 32%;
    height: auto;
    margin-right: 0.75rem;
}

.team-list-item p {
	margin-bottom: 0;
	line-height: 1;
}

