button[md-icon-button] {
  display: flex;
  min-width: inherit;
  line-height: 1;
  margin: 1em 0;
  font-weight: 400;
  background: transparent;
  border-radius: 0;
}

button[md-icon-button] .caption {
    font-weight: 400;
}

.active-link {
  color: #F27D0C;
}

.md-button-focus-overlay {
	display: none;
  background-color: rgba(0,0,0,0) !important;
}

.md-button-ripple-round {
	border-radius: 0;
	display: none !important;
}

.md-button-focus-overlay, .md-button-ripple {
  display: none;
}
