button[md-icon-button] {
  display: flex;
  min-width: inherit;
  line-height: 1;
  margin: 1em 0;
  font-weight: 400;
  background: transparent;
}

button[md-icon-button] .caption {
    font-weight: 400;
}

.active-link {
  color: #F27D0C;
}

.md-button-focus-overlay {
	display: none;
}