<button md-button [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">
	<md-icon>format_list_numbered</md-icon>
	<div class="caption">Standings</div>
</button>
<button md-button [routerLink]="['/leaders']" routerLinkActive="active-link">
	<md-icon>star</md-icon>
	<div class="caption">Leaders</div>
</button>
<button md-button [routerLink]="['/teams']" routerLinkActive="active-link">
	<md-icon>group</md-icon>
	<div class="caption">Teams</div>
</button>
<button md-button [routerLink]="['/players']" routerLinkActive="active-link">
	<md-icon>format_list_bulleted</md-icon>
	<div class="caption">Players</div>
</button>
<!-- <button md-button [routerLink]="['/about']" routerLinkActive="active-link"><md-icon>info</md-icon></button> -->


