.card {
  border-radius: 0.2em;
  position: relative;
  border: 1px solid #676767;  
}

  .card img {
    padding: 1rem 0 2rem;
  }

  .leader-card .material-icons {
    font-size: 2rem;
    position: absolute;
    right: 0;
    text-shadow: 0px 0px 3px #000;
  }

  .leader-card:nth-child(2) .material-icons {
    color: #FFD700;
  }

  .leader-card:nth-child(3) .material-icons {
    color: #EFEFEF;
  }

  .leader-card:nth-child(4) .material-icons {
    color: #C26D43;
  }

  p {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-rendering: optimizeLegibility;
  }


.card-section {
  padding: .35rem;
  background: #676767;
  color: #EFEFEF;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  .card-section h3 {
    line-height: 1;
    margin: 0;
    font-size: 0.75rem;
    font-weight: 600;
  }

/* 600px */
@media only screen and (min-width: 37.50em) {

    /* diff font sizing here for tablets? */

    .leader-card .material-icons {
      font-size: 3rem;
    }

}

/* 900px */
@media only screen and (min-width: 56.25em) {

    .leader-card .material-icons {
      font-size: 4rem;
    }

  
}


