.card {
  border-radius: 0.5em;
  position: relative;
  border: 1px solid #676767;  
}

  .leader-card:nth-child(2) .card {
    border: 4px solid #FFD700;
  }

  .leader-card:nth-child(3) .card {
    border: 4px solid #EFEFEF;
  }

  .leader-card:nth-child(4) .card {
    border: 4px solid #C26D43;
  }

  p {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-align: center; 
  }

  .leader-card:nth-child(2) p {
    background: #FFD700;
  }

  .leader-card:nth-child(3) p {
    background: #EFEFEF;
  }

  .leader-card:nth-child(4) p {
    background: #C26D43;
  }  


.card-section {
  padding: .25rem 0.35rem;
  background: rgba(0,0,0,0.85);
  color: rgba(0,0,0,0.75);
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  .leader-card:nth-child(2) .card-section {
    background: rgba(255, 215, 0, 1);
  }

  .leader-card:nth-child(3) .card-section {
    background: rgba(239,239,239, 1);
  }

  .leader-card:nth-child(4) .card-section {
    background: rgba(194, 109, 67, 1);
  }

  .card-section h3 {
    line-height: 1;
    margin: 0;
    font-size: 0.85rem;
    font-weight: 600;
    text-align: center;
  }


  @media screen and (min-width:600px) {

    /* diff font sizing here for tablet */


  }


