<section>

<h4>Need to make services for:</h4>
<ul>
  <li>team scratch game</li>
  <li>team handi game</li>
  <li><s>team scratch series</s> - added apr 7th</li>
  <li><s>team handi series</s> - added apr 7th</li>
</ul>

<hr />

<ng-template #load_message>...loading...</ng-template>
<div *ngIf="teamSeriesScratch;else load_message" class="row small-up-3 large-up-4">
  <h4>Team High Score Series Scratch</h4>
  <div class="column leader-card" *ngFor="let team of teamSeriesScratch">
    <div class="card">
      <i class="material-icons">stars</i>
      <img src="assets/logos/team{{team.tid}}.png">
      <div class="card-section">
        <h3>{{ team.tname }}</h3>
        <p>{{ team.pins }}</p>
      </div>
    </div>
  </div>
</div>

<hr />

<ng-template #load_message>...loading...</ng-template>
<div *ngIf="teamSeriesHandicap;else load_message" class="row small-up-3 large-up-4">
  <h4>Team High Score Series Handicap</h4>
  <div class="column leader-card" *ngFor="let team of teamSeriesHandicap">
    <div class="card">
      <i class="material-icons">stars</i>
      <img src="assets/logos/team{{team.tid}}.png">
      <div class="card-section">
        <h3>{{ team.tname }}</h3>
        <p>{{ team.pins }}</p>
      </div>
    </div>
  </div>
</div>

<hr />

<div *ngIf="!mensGameScratch">
  <em>Loading Mens High Score Game Scratch Leaders...</em>
</div>
<div *ngIf="mensGameScratch" class="row small-up-3 large-up-4">
  <h4>Mens High Score Game Scratch</h4>
  <div class="column leader-card" *ngFor="let player of mensGameScratch">
    <div class="card">
      <i class="material-icons">stars</i>
      <img src="assets/avatars/avatar-{{player.pid}}.svg">
      <div class="card-section">
        <h3>{{ player.pname }}</h3>
        <p>{{ player.hscore }}</p>
      </div>
    </div>
  </div>
</div>

<hr />

<div *ngIf="!mensGameHandicap">
  <em>Loading Mens High Score Game Handicap Leaders...</em>
</div>
<div *ngIf="mensGameHandicap" class="row small-up-3 large-up-4">
  <h4>Mens High Score Game Handicap</h4>
  <div class="column leader-card" *ngFor="let player of mensGameHandicap">
    <div class="card">
      <i class="material-icons">stars</i>
      <img src="assets/avatars/avatar-{{player.pid}}.svg">
      <div class="card-section">
        <h3>{{ player.pname }}</h3>
        <p>{{ player.hscore }}</p>
      </div>
    </div>
  </div>
</div>

<hr />

<div *ngIf="!mensSeriesScratch">
  <em>Loading Mens High Score Series Leaders...</em>
</div>
<div *ngIf="mensSeriesScratch" class="row small-up-3 large-up-4">
  <h4>Mens High Score Series Scratch</h4>
  <div class="column leader-card" *ngFor="let player of mensSeriesScratch">
    <div class="card">
      <i class="material-icons">stars</i>
      <img src="assets/avatars/avatar-{{player.pid}}.svg">
      <div class="card-section">
        <h3>{{ player.pname }}</h3>
        <p>{{ player.hscore }}</p>
      </div>
    </div>
  </div>
</div>

<hr />

<div *ngIf="!mensSeriesHandicap">
  <em>Loading Mens High Score Series Handicap Leaders...</em>
</div>
<div *ngIf="mensSeriesHandicap" class="row small-up-3 large-up-4">
  <h4>Mens High Score Series Handicap</h4>
  <div class="column leader-card" *ngFor="let player of mensSeriesHandicap">
    <div class="card">
      <i class="material-icons">stars</i>
      <img src="assets/avatars/avatar-{{player.pid}}.svg">
      <div class="card-section">
        <h3>{{ player.pname }}</h3>
        <p>{{ player.hscore }}</p>
      </div>
    </div>
  </div>
</div>

<hr />

<div *ngIf="!womensGameScratch">
  <em>Loading Womens High Score Game Scratch Leaders...</em>
</div>
<div *ngIf="womensGameScratch" class="row small-up-3 large-up-4">
  <h4>Womens High Score Game Scratch</h4>
  <div class="column leader-card" *ngFor="let player of womensGameScratch">
    <div class="card">
      <i class="material-icons">stars</i>
      <img src="assets/avatars/avatar-{{player.pid}}.svg">
      <div class="card-section">
        <h3>{{ player.pname }}</h3>
        <p>{{ player.hscore }}</p>
      </div>
    </div>
  </div>
</div>

<hr/>

<div *ngIf="!womensGameHandicap">
  <em>Loading Womens High Score Game Handicap Leaders...</em>
</div>
<div *ngIf="womensGameHandicap" class="row small-up-3 large-up-4">
  <h4>Womens High Score Game Handicap</h4>
  <div class="column leader-card" *ngFor="let player of womensGameHandicap">
    <div class="card">
      <i class="material-icons">stars</i>
      <img src="assets/avatars/avatar-{{player.pid}}.svg">
      <div class="card-section">
        <h3>{{ player.pname }}</h3>
        <p>{{ player.hscore }}</p>
      </div>
    </div>
  </div>
</div>

<hr/>

<div *ngIf="!womensSeriesScratch">
  <em>Loading Womens High Score Series Scratch Leaders...</em>
</div>
<div *ngIf="womensSeriesScratch" class="row small-up-3 large-up-4">
  <h4>Womens High Score Series Scratch</h4>
  <div class="column leader-card" *ngFor="let player of womensSeriesScratch">
    <div class="card">
      <i class="material-icons">stars</i>
      <img src="assets/avatars/avatar-{{player.pid}}.svg">
      <div class="card-section">
        <h3>{{ player.pname }}</h3>
        <p>{{ player.hscore }}</p>
      </div>
    </div>
  </div>
</div>

<hr/>

<div *ngIf="!womensSeriesHandicap">
  <em>Loading Womens High Score Series Handicap Leaders...</em>
</div>
<div *ngIf="womensSeriesHandicap" class="row small-up-3 large-up-4">
  <h4>Womens High Score Series Handicap</h4>
  <div class="column leader-card" *ngFor="let player of womensSeriesHandicap">
    <div class="card">
      <i class="material-icons">stars</i>
      <img src="assets/avatars/avatar-{{player.pid}}.svg">
      <div class="card-section">
        <h3>{{ player.pname }}</h3>
        <p>{{ player.hscore }}</p>
      </div>
    </div>
  </div>
</div>

</section>

